apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.microservice.name }}
  labels:
    app: {{ printf "%-label" .Values.microservice.name }} #l
spec:
  replicas: {{ .Values.microservice.replicas }}
  selector:
    matchLabels:
      app: {{ printf "%-label" .Values.microservice.name }} #l
  template:
    metadata:
      labels:
        app: {{ printf "%-label" .Values.microservice.name }} #l
    spec:
      containers:
        - name: {{ printf "%-label" .Values.microservice.name }} #l
          image:  {{ .Values.global.imgPath }}:{{ .Values.global.appVersion }}
          ports:
            - containerPort: 80