apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.microservice.name }}
  labels:
    app: "{{ .Values.microservice.name }}}-label" #l
spec:
  replicas: {{ .Values.microservice.replicas }}
  selector:
    matchLabels:
      app: "{{ .Values.microservice.name }}}-label" #l
  template:
    metadata:
      labels:
        app: "{{ .Values.microservice.name }}}-label" #l
    spec:
      containers:
        - name: "{{ .Values.microservice.name }}}-label" #l
          image:  {{ .Values.global.imgPath }}:{{ .Values.global.appVersion }}
          ports:
            - containerPort: 80