apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: {{ .Values.name }}
  name: "{{ .Values.name }}-deployment"
  labels:
    app: "{{ .Values.name }}-label" #l
  annotations:
    appVersion: {{ .Values.global.appVersion | quote }}
spec:
  replicas: {{ .Values.replicas }}
  revisionHistoryLimit: {{ .Values.revisionHistoryLimit }}
  selector:
    matchLabels:
      app: "{{ .Values.name }}-label" #l
  template:
    metadata:
      labels:
        app: "{{ .Values.name }}-label" #l
        {{- if.Values.istioEnabled }}
        sidecar.istio.io/inject: "true"
        {{- end }}
        {{- if.Values.canaryEnabled }}
        istio.io/rev: canary
        {{- end }}
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/port: "15020"
        prometheus.io/path: "/stats/prometheus"
        {{- if .Values.configmap.enabled }}
        checksum/config: {{ .Values.configmap.applicationProperties | default "" | sha256sum }}
        {{- end }}
        {{- if .Values.configmap.enabled }}
        checksum/config: {{ .envs | default "" | sha256sum }}
        {{- end }}
    spec:
      imagePullSecrets:
        - name: "{{ .Values.name }}-image-pull-secret"
      containers:
        - name: "{{ .Values.name }}-label" #l
          image: {{ printf "%s:%s" .Values.global.imgPath .Values.global.appVersion | quote }}
          imagePullPolicy: {{ .Values.container.image.pullPolicy }}
          ports:
            - name: http
              containerPort: {{ .Values.container.port }}
              protocol: TCP
          {{- if .Values.container.command }}
          command:
            {{- toYaml .Values.container.command | nindent 12 }}
          {{- end }}
          {{- if .Values.container.args }}
          args:
            {{- toYaml .Values.container.args | nindent 12 }}
          {{- end }}
          envFrom:
            - secretRef:
                name: "{{ .Values.name }}-secret"
          {{- if .Values.container.livenessProbe }}
          volumeMounts:
            {{- if .Values.container.allowNginxEnvVars }}
            - name: env-config-vol
              mountPath: /usr/share/nginx/html/env-config.js
              subPath: env-config.js
            {{- end }}
            {{- if .Values.configmap.enabled }}
            - name: properties-vol
              mountPath: /opt/administrabien/config/application.properties
              subPath: application.properties
            {{- end }}
          livenessProbe:
            {{- range $key, $value := .Values.container.livenessProbe }}
            {{- if eq $key "path" }}
            httpGet:
              path: {{ $value }}
              port: http
              scheme: HTTP
            {{- else }}
            {{- if eq $key "exec" }}
            exec:
              {{- if $.Values.container.livenessProbe.exec.command }}
              command:
                {{- toYaml $.Values.container.livenessProbe.exec.command | nindent 16 }}
              {{- end }}
            {{- else }}
            {{ $key }}: {{ $value }}
            {{- end }}
            {{- end }}
            {{- end }}
          {{- end}}
          {{- if .Values.container.readinessProbe }}
          readinessProbe:
            {{- range $key, $value := .Values.container.readinessProbe }}
            {{- if eq $key "path" }}
            httpGet:
              path: {{ $value }}
              port: http
              scheme: HTTP
            {{- else }}
            {{- if eq $key "exec" }}
            exec:
              {{- if $.Values.container.readinessProbe.exec.command }}
              command:
                {{- toYaml $.Values.container.readinessProbe.exec.command | nindent 16 }}
              {{- end }}
            {{- else }}
            {{ $key }}: {{ $value }}
            {{- end }}
            {{- end }}
            {{- end }}
          {{- end}}
          {{- if .Values.container.startupProbe }}
          startupProbe:
            {{- range $key, $value := .Values.container.startupProbe }}
            {{- if eq $key "path" }}
            httpGet:
              path: {{ $value }}
              port: http
              scheme: HTTP
            {{- else }}
            {{- if eq $key "exec" }}
            exec:
              {{- if $.Values.container.startupProbe.exec.command }}
              command:
                {{- toYaml $.Values.container.startupProbe.exec.command | nindent 16 }}
              {{- end }}
            {{- else }}
            {{ $key }}: {{ $value }}
            {{- end }}
            {{- end }}
            {{- end }}
          {{- end}}
          {{- with .Values.container.resources }}
          {{- if or (or .memory.request .memory.limits) (or .cpu.request .cpu.limits) }}
          resources:
              {{- if or .memory.request .cpu.request }}
            requests:
                {{- if .memory.request }}
              memory: {{ .memory.request | quote }}
                {{- end }}
                {{- if .cpu.request }}
              cpu: {{ .cpu.request | quote }}
                {{- end }}
              {{- end }}
              {{- if or .memory.limits .cpu.limits }}
            limits:
                {{- if .memory.limits }}
              memory: {{ .memory.limits | quote }}
                {{- end }}
                {{- if .cpu.limits }}
              cpu: {{ .cpu.limits | quote }}
                {{- end }}
              {{- end }}
            {{- end }}
          {{- end }}
      volumes:
        {{- if .Values.container.allowNginxEnvVars }}
        - name: env-config-vol
          configMap:
            name: nginx-configmap
        {{- end }}
        {{- if .Values.configmap.enabled }}
        - name: properties-vol
          configMap:
            name: external-configmap
        {{- end }}
      serviceAccountName:  {{ .Values.name}}-sa
      automountServiceAccountToken: {{ .Values.container.sa.autoMountSAToken }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
          {{- toYaml . | nindent 10 }}
      {{- end }}

      {{- with .Values.tolerations }}
      tolerations:
          {{- toYaml . | nindent 10 }}
      {{- end }}

      {{- with .Values.affinity }}
      affinity:
          {{- toYaml . | nindent 10 }}
      {{- end }}