apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: {{ .Values.global.ms.name }}
  name: "{{ .Values.global.ms.name }}-deployment"
  labels:
    app: "{{ .Values.global.ms.name }}-label" #l
spec:
  replicas: {{ .Values.global.ms.replicas }}
  selector:
    matchLabels:
      app: "{{ .Values.global.ms.name }}-label" #l
  template:
    metadata:
      labels:
        app: "{{ .Values.global.ms.name }}-label" #l
    spec:
      containers:
        - name: "{{ .Values.global.ms.name }}-label" #l
          image:  {{ .Values.global.imgPath }}:{{ .Values.global.appVersion }}
          imagePullPolicy: {{ .Values.global.ms.container.image.pullPolicy }}
          ports:
            - name: {{ .Values.global.ms.container.name }}
              containerPort: {{ .Values.global.ms.container.port }}
              protocol: {{ .Values.global.ms.container.protocol }}
          env:
          {{- range $key, $val := .Values.global.ms.container.envs }}
          - name: "{{ $key }}"
            valueFrom:
              secretKeyRef:
                name: "{{ $.Values.global.ms.name }}-secret"
                key: "{{ $key }}"
          {{- end }}