apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: "{{ .Values.name }}-dockerhub-external-secret"
  namespace: "{{ .Values.name }}"
spec:
  refreshInterval: "24h" # Cada cuánto tiempo sincronizar con Vault
  secretStoreRef:
    name: "{{ .Values.name }}-secret-store"
    kind: SecretStore
  target:
    name: "{{ .Values.name }}-image-pull-secret" # Este es el nombre final que usará tu App
    creationPolicy: Owner
    template:
      engineVersion: v2
      type: kubernetes.io/dockerconfigjson
      data:
        .dockerconfigjson: |
          {
            "auths": {
              "{{ "{{" }} .dockerServer {{ "}}" }}": {
                "username": "{{ "{{" }} .dockerUsername {{ "}}" }}",
                "password": "{{ "{{" }} .dockerPassword {{ "}}" }}",
                "email": "{{ "{{" }} .dockerEmail {{ "}}" }}",
                "auth": "{{ "{{" }} printf "%s:%s" .dockerUsername .dockerPassword | b64enc {{ "}}" }}"
              }
            }
          }
  data:
    - secretKey: "dockerServer"    # Nombre de la clave dentro de K8s
      remoteRef:
        key: "dockerhub"            # Path en Vault (secret/data/mi-app)
        property: "dockerServer"     # Clave dentro del JSON de Vault
    - secretKey: "dockerUsername"
      remoteRef:
        key: "dockerhub"
        property: "dockerUsername"
    - secretKey: "dockerPassword"
      remoteRef:
        key: "dockerhub"
        property: "dockerPassword"
    - secretKey: "dockerEmail"
      remoteRef:
        key: "dockerhub"
        property: "dockerEmail"